body{
	margin: 0;
	padding: 0; /*to reset everything*/
	font-family: Helvetica;
	font-size: 16px;
}

p{
	font-size: 1.5em;
}

.logo{
	margin: 10px;
	margin-bottom: -15px;
	text-align: center;
}

.logo img{
	width: 100px;
}

#photos{
	text-align: center;
}

#photos ul{
	list-style-type: none;
	margin: 20px auto;
	padding: 0; 
}

#photos ul li {
	width: 30%;
	margin: 1px;
	list-style-type: none;
	position: relative;
	display: inline-block;
}

#photos ul li img{
	width: 100%;
}

#photos ul li:hover{
	opacity: 0.5;
}

.header{
	background: lightblue;
	margin: 30px;
	border-radius: 5px;
	border-style: double;
	border-color: darkblue;
}

/*Style Top Navigation Bar*/

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav > ul{
	height: 40px;
	text-align: right;
}

nav > ul > li{
	max-width: 140px; 
	display: inline-block;
	vertical-align: top; /*only for inline-block*/
}

nav > ul > li > a { color: darkblue; }

nav ul li:hover ul{
	display: block;
	color: darkblue;
	position: absolute;
}

/*submenu style*/
nav ul li ul{
	display:none;
	background: lightblue;
	color: darkblue;
}

nav ul li a{
	padding: 10px; /*so we can have enough clickable space*/
	line-height: 40px;
	text-decoration: none;
}

nav ul li a:hover{
	color: yellow;
}

nav ul li a.current_page{
	color: yellow;
	text-decoration: underline;
}

.container{
	max-width: 700px;
	width: 700;
	margin: 0 auto; 
	/*center div horizontally*/
	text-align: center;
}

/*Footer Style*/
footer{
	margin-top: 200px;
	width: 100%;
	height: 100px;
	border: 4px double darkblue;
	background-color: lightblue;
}

.copyright{
	font-size: 8px;
	margin-left: 10px;
	padding-top: -20px;
}

.social ul {
	list-style-type: none;
	text-align: center;
}

.social ul li{
	display: inline;
}

.social ul li img{
	width: 70px;
	margin-left: 10px;
	margin-right: 10px;
}

.social ul li:hover{
	opacity: 0.5;
}

/*Home page title*/
#title{ 
	text-align: center;
	color: darkblue;
	font-weight: lighter;
	font-size: 40px;
	font-family: Garamond;
}

/*Titles on all other pages*/
#title2{
	text-align: center;
	color: darkblue;
	font-weight: lighter;
	font-family: Garamond;
	font-size: 40px;
}

/*About*/
.about{
	display: inline;
	margin: 0 auto;
}

.portrait img{
	width: 250px;
	float: left;
	margin-left: 30px;
	margin-right: 30px;
	border-style: solid;
	border-color: lightblue;
	border-width: 8px;
	border-radius: 5px;
}

.about{
	display: inline;
	font-family: Garamond;
	font-size: 25px;
}

.about_description{
	font-size: 20px;
	margin-left: 200px;
	margin-right: 100px;
	font-family: Helvetica;
	color: darkblue;
	font-weight: lighter;
}

.about_description2{
	font-size: 20px;
	margin-left: 200px;
	margin-right: 100px;
	font-family: Helvetica;
	color: darkblue;
	font-weight: lighter;
}

/*Experience*/
.experience p{
	font-size: 25px;
	text-align: center;
	font-weight: bolder;
	color: darkblue;
	font-family: Helvetica;
}


.resume{
	text-align: center;
	color: darkblue;
	font-weight: bolder;
}

p.experience1{
	font-size: 20px;
	margin-right: 200px;
	margin-left: 200px;
	font-weight: lighter;
	text-align: left;
}

/*Home page*/
#home {
	text-align: center;
	font-style: italic;
	font-weight: lighter;
	color: darkblue;
}

.project_description{
	margin-left: 80px;
	margin-right: 80px;
	font-size: 20px;
	font-family: Helvetica;
	color: darkblue;
	font-weight: lighter;
}


.audio{
	position: absolute;
    top: 0;
    border: 3px solid lightblue;
}